body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Example background color */
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content-section .content {
    flex: 1;
    padding: 0 20px;
}
.content-section .content p {
    margin-top: 0;
}
.content-section .content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
.content-section:nth-child(even) .content {
    order: 2;
    text-align: right;
}
.content-section:nth-child(even) .content img {
    margin-left: auto;
    margin-right: 0;
}
.content-section:nth-child(odd) .content {
    order: 1;
    text-align: left;
}
.content-section:nth-child(odd) .content img {
    margin-right: auto;
    margin-left: 0;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}
.button:hover {
    background-color: #0056b3;
}

/* Return to Top Button */
.return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4681f4;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.return-to-top:hover {
    background-color: #5783db;
}

.return-to-top::before {
    content: '↑';
    font-size: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
    }
    .content-section .content {
        order: 2;
        text-align: center;
    }
    .content-section .content img {
        margin: 0 auto;
    }
    .return-to-top {
        bottom: 10px;
        right: 10px;
        font-size: 16px;
        padding: 8px 16px;
    }
}